---
services:
  redis-g:
    image: redis:latest
    command: ["redis-server", "--requirepass", "pwd"]
    ports:
      - "6379:6379"
    volumes:
      - redis-ig:/data

  kt-gateway-api-g:
    image: kaiqkt/kt-gateway-api:local
    environment:
      REDIS_HOST: redis-g
      REDIS_PORT: 6379
      REDIS_PASSWORD: "pwd"
      KT_GATEWAY_ID: 01K97V58JAZ2F2C5BGEJQVJVT7
      KT_AUTHENTICATION_API_NAME: kt-authentication-api
      KT_AUTHENTICATION_API_URI: /api/auth
      KT_AUTHENTICATION_API_URL: http://kt-authentication-api-ig:8080
    ports:
      - "8080:8080"

volumes:
  redis-ig:
  postgres-ig: