---
server:
  port: 8080

spring:
  application:
    name: kt-gateway-api
  web:
    locale: en_US
    locale-resolver: fixed
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  cache:
    type: redis

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  metrics:
    tags:
      application: kt-gateway-api

authentication-service-url: ${KT_AUTHENTICATION_API_URL}
policies-cache-ttl: 1

gateway:
  client-id: ${KT_GATEWAY_ID}
  resource-servers:
    - name: ${KT_AUTHENTICATION_API_NAME} # Substituir por nome do resource server
      uri: ${KT_AUTHENTICATION_API_URI}
      host: ${KT_AUTHENTICATION_API_URL}